<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330146167767-onvnm9oqdf75bf5ngqdehrir86nc7j47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330146167767-onvnm9oqdf75bf5ngqdehrir86nc7j47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330146167767-8fhvq2gr3k2lndrhltsterkpribn527b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT6PHxURkp--ePztz3oXEeteqtzE-IhhA</string>
	<key>GCM_SENDER_ID</key>
	<string>330146167767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.LearningProject.com</string>
	<key>PROJECT_ID</key>
	<string>spotify-a0d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-a0d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330146167767:ios:15413592ad911f8e0e6992</string>
</dict>
</plist>